<section class="description">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3 class="description__header">super light drone</h3>
				<p class="description__text">More specifically, microinteractions are the animations and changes of the interface that happen once a user interacts with something, anything. Consider them interactive but informative animations. There are many reasons to use microinteractions. I can give you four right now.</p>
				<p class="description__text">The first good thing about microinteractions is improved usability. If the animation of the menu, from the example I gave above, slides down and over the content the user was just looking at, it provides affirmation for the user. This animation lets the user know what’s going on through visual cues.</p>
				<a href="#" class="header__link">read more</a>
			</div>
		</div>
	</div>
</section>