<footer class="footer" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-5">
				<ul class="footer__legal">
					<li class="footer__legal-item">
						<a href="#" class="footer__legal-link">Terms & conditions</a>
					</li>
					<li class="footer__legal-item">
						<a href="#" class="footer__legal-link">License agreement</a>
					</li>
					<li class="footer__legal-item">
						<a href="#" class="footer__legal-link">Private policy</a>
					</li>
				</ul>
			</div>
			<div class="col-4"></div>
			<div class="col-3">
				<ul class="footer__social">
					<li class="footer__social-item">
						<a href="#" target="_blank" class="footer__social-link"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="footer__social-item">
						<a href="#" target="_blank" class="footer__social-link"><i class="fab fa-facebook-square"></i></a>
					</li>
					<li class="footer__social-item">
						<a href="#" target="_blank" class="footer__social-link"><i class="fab fa-google"></i></a>
					</li>
					<li class="footer__social-item">
						<a href="#" target="_blank" class="footer__social-link"><i class="fab fa-youtube"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row footer__contacts">
			<address class="footer__contacts-address">3 Hatamat Str., P.O.Box 35 2068201,<br>Yoqneam littl, Israel</address>
			<a href="mailto:info@gmail.com" class="footer__contacts-email">info@gmail.com</a>
			<a href="tel:+1-800-123-456" class="footer__contacts-phone">+1-800-123-456</a>
		</div>
		<span class="footer__copyright">All rights reserved © 2020</span>
	</div>
</footer>