<header class="header" id="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="row header__head">
				<div class="col-3">
					<div class="header__logo"><span class="header__logo-title">superdrone.</span>
					</div>
				</div>
				<div class="col-7">
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-item"><a href="#chars" class="header__nav-link">meet the product</a></li>
							<li class="header__nav-item"><a href="#services" class="header__nav-link">meet the company</a></li>
							<li class="header__nav-item"><a href="#contacts" class="header__nav-link">support</a></li>
							<li class="header__nav-item"><a href="#slider" class="header__nav-link">blog</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-2 d-flex flex-row justify-content-around align-items-center">
					<button class="header__cart cart">
						<i class="fas fa-shopping-cart"></i>
						<span class="cart__label badge badge-pill badge-warning">0</span>
					</button>
					<a href="#" class="header__link shifted">login</a>
				</div>
			</div>
			<div class="header__content">
				<h1 class="header__content-title">your receptionist anywhere</h1>
				<h4 class="header__content-subtitle">When a user taps on a button in a mobile app, and the button pulls down a navigation, that’s a microinteraction.</h4>
				<div class="header__content-link">
					<a href="#shop" class="header__link">buy now</a>
				</div>
				<div class="header__scroll">
					<a href="#description" class="header__scroll-link"><i class="fas fa-angle-double-down"></i></a>
				</div>
			</div>
			<a href="#" class="scrollup">Наверх</a>
		</div>
		<div class="modal">
			<div class="modal__body">
				<button class="modal__close">
					<i class="far fa-times-circle"></i>
				</button>
				<h2 class="modal__title">Cart</h2>
				<form class="modal__form">
					<ul class="modal__products cart-list"></ul>
					<p class="cart__total">0</p>
					<p class="cart__empty">Your cart is empty</p>
					<input type="submit" value="Buy" class="btn btn-primary submit-btn">
					<input type="button" value="Clear cart" class="btn btn-warning clear-btn">
				</form>
			</div>
		</div>
	</div>
</header>
<main role='main' class="loader" id="propeller-loader">
	<div aria-busy='true' aria-label='Loading' role='progressbar'></div>
</main>