<section class="services">
	<div class="container">
		<div class="row services__header">
			<h3 class="services__title">super services</h3>
			<p class="services__subtitle">The first good thing about microinteractions is improved usability. If the animation of the menu, from the example I gave above, slides down and over the content the user was just looking at, it provides affirmation for the user.</p>
		</div>
		<div class="row">
			<div class="col-4">
				<object type="image/svg+xml" data="./img/4k.svg" id="object" class="icon"></object>
				<h6 class="services__name">4k resolution</h6>
				<p class="services__text">More specifically, microinteractions are the animations and changes of the interface that happen once a user interacts with something, anything. Consider them interactive but informative animations. There are many reasons to use microinteractions. I can give you four right now.</p>
			</div>
			<div class="col-4">
				<object type="image/svg+xml" data="./img/hourglass.svg" id="object" class="icon"></object>
				<h6 class="services__name">timelapse</h6>
				<p class="services__text">More specifically, microinteractions are the animations and changes of the interface that happen once a user interacts with something, anything. Consider them interactive but informative animations. There are many reasons to use microinteractions. I can give you four right now.</p>
			</div>
			<div class="col-4">
				<object type="image/svg+xml" data="./img/speed.svg" id="object" class="icon"></object>
				<h6 class="services__name">super speed</h6>
				<p class="services__text">More specifically, microinteractions are the animations and changes of the interface that happen once a user interacts with something, anything. Consider them interactive but informative animations. There are many reasons to use microinteractions. I can give you four right now.</p>
			</div>
		</div>
	</div>
</section>