<section class="shop">
	<div class="container">
		<div class="row shop__header">
			<h3 class="shop__title">we rent the best drones</h3>
			<p class="shop__subtitle">If you’re looking for a portable drone or a pro tool, we have a drone for you!</p>
		</div>
		<div class="row" id="productsGrid"></div>
	</div>
</section>