<section class="slider" id="slider">
	<div class="container">
		<div class="row slider__header">
			<h3 class="slider__title">Mount to anything. Anywhere.</h3>
			<p class="slider__subtitle">Fully compatible with GoPro® mounts, traditional cameras and tripod designs with a built in ¼ – 20 UNC tripod housing, we’re made to mount anything. From helmets to handlebars, we go where you go.</p>
		</div>
		<div class="carousel owl-carousel">
			<div class="slider__wrapper"><img src="./img/drone-slide1.jpg" alt="drone"></div>
			<div class="slider__wrapper"><img src="./img/drone-slide2.jpg" alt="drone"></div>
			<div class="slider__wrapper"><img src="./img/drone-slide3.jpg" alt="drone"></div>
			<div class="slider__wrapper"><img src="./img/drone-slide4.jpg" alt="drone"></div>
			<div class="slider__wrapper"><img src="./img/drone-slide5.jpg" alt="drone"></div>
		</div>
	</div>
</section>