//colors

$middle-grey: #808080;
$grey: #eceef4;
$grey-border: #dee0e6;
$black: #000;
$white: #fff;
$link-hover: rgba($black, .1);
$light-blue: #1faae2;

$fb-color: #2b75b2;
$google-color: #dd4070;
$insta-color: #c13584;
$twitter-color: #1faae2;

$top-nav-bg: $grey;

$social-map: (
	'fa-facebook-square': $fb-color,
	'fa-twitter': $twitter-color,
	'fa-instagram': $insta-color,
	'fa-google-plus-g': $google-color
);

$transition: all .3s ease;