<section class="blog">
	<div class="container">
		<div class="row blog__first-row">
			<div class="col-md-8">
				<a href="https://vorotnique.github.io/superdrone/app/" class="blog__mainlink" target="_blank">
					<footer class="blog__mainlink-footer">
						<p class="blog__date">february 15, 2020</span></p>
						<h4 class="blog__title">superdrone (graduation project)</h4>
					</footer>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://vorotnique.github.io/homework_13/app/" class="blog__link" target="_blank">
					<img src="./img/designlab.jpg" alt="article_illustration" class="blog__illustration">
					<footer class="blog__footer">
						<p class="blog__date">november 2, 2019</span></p>
						<h4 class="blog__title">design lab (homework)</h4>
						<img src="img/avatar.jpg" class="blog__footer-avatar" alt="">
					</footer>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<a href="https://vorotnique.github.io/shopno/app/" class="blog__link" target="_blank">
					<img src="./img/shopno.jpg" alt="article_illustration" class="blog__illustration">
					<footer class="blog__footer">
						<p class="blog__date">november 2, 2019</span></p>
						<h4 class="blog__title">shopno (homework)</h4>
						<img src="img/avatar.jpg" class="blog__footer-avatar" alt="">
					</footer>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://vorotnique.github.io/homework_9_editor/app/" class="blog__link" target="_blank">
					<img src="./img/editor.jpg" alt="article_illustration" class="blog__illustration">
					<footer class="blog__footer">
						<p class="blog__date">november 16, 2019</span></p>
						<h4 class="blog__title">text editor (homework)</h4>
						<img src="img/avatar.jpg" class="blog__footer-avatar" alt="">
					</footer>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://vorotnique.github.io/homework_11/app/" class="blog__link" target="_blank">
					<img src="./img/cahee.jpg" alt="article_illustration" class="blog__illustration">
					<footer class="blog__footer">
						<p class="blog__date">november 2, 2019</span></p>
						<h4 class="blog__title">cahee (homework - part)</h4>
						<img src="img/avatar.jpg" class="blog__footer-avatar" alt="">
					</footer>
				</a>
			</div>
		</div>
	</div>
</section>