//colors
$white: #fff;
$black: #000;
$bg-dark: #121d24;
$bg-mid: #132027;
$bg-light: #1a2a34;
$bg-undercover: #203541;
$text-white: #f2f2f3;
$pink: #f62a66;
$yellow: #ffd933;
$blue: #0682b7;

//fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
$main-font: 'Ubuntu', sans-serif;

$base-size: 16px;

$transition: all .3s ease;