// colors
$bgwhite: #e5eeee;
$tiffany: #23ae92;
$underline: #e66a64;

// fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

$main-font: 'Quicksand', sans-serif;