* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: block;
	background-color: #373f41;
	font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
}

header {
	background-color: #3e4546;
	color: #ef887a;
	text-align: center;
	padding: 15px;
}

.main_header {
	margin-bottom: 9px;
}

.shopping_form {
	display: block;
	padding: 33px 0;
	width: 44%;
	margin: 0 auto;
}

.shopping_list {
	display: block;
	list-style: none;
	margin: 0 auto 22px;
}

.item_block {
	display: block;
	background-color: #85849a;
	padding: 11px;
	height: 44px;
}

.list_item:nth-child(2n) .item_block {
	background-color: #6e6d83;
}

.item_block:hover {
	background-color: #5f6174;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	transition: all .1s ease-in;
	padding: 9px 11px;
}

.item_block:active {
	background-color: #ef887a;
}

[type="checkbox"]:checked ~ span {
	text-decoration: line-through;
	color: white;
}

span, p {
	display: inline-block;
	color: white;
}

.shopping_item {
	text-transform: capitalize;
	font-size: 1.1rem;
}

.commentary {
	font-size: .8rem;
}

.commentary::before {
	content: "(";
	display: inline-block;
}

.commentary::after {
	content: ")";
	display: inline-block;
}

[type="submit"] {
	display: block;
	height: 33px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	background-color: #474e50;
	border: none;
	color: #ef887a;
	cursor: pointer;
}

[type="submit"]:hover {
	background-color: #ef887a;
	border: 2px solid white;
	color: #474e50;
	transition: all .1s ease-in;
}

/* #3e4546 - header
#373f41 - background
#85849a - odd list item
#78778f - even list item
#5f6174 - odd highlighted list item
#6e6d83 - even highlighted list item
#ef887a - checked list item / text
#474e50 - button */