//fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700&display=swap');

$main-font: 'Raleway', sans-serif;
$logo-font: 'Pacifico', cursive;

//colors

$dark: #262626;
$light: #b9b9b9;
$aqua: #00c4c4;
$pink: #f52b55;
$blue: #355b82;