.signin {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 400px;
	height: 494px;
	background: url('../img/bg.jpg') no-repeat;
	margin: auto;
	padding: 50px 70px;

	&__navigation {
		width: 70%;
	}

	&__navigation-list {
		list-style: none;
		display: flex;
		justify-content: space-between;
	}

	&__navigation-link {
		text-decoration: none;
		color: white;
		font-weight: 700;
		transition: all .4s ease;
		position: relative;
		font-size: 1.2rem;
		letter-spacing: 1px;
		&:hover {
			opacity: 1;
		}
		&:hover::after {
			content: "";
			position: absolute;
			border: 2px solid $underline;
			width: 100%;
			bottom: -5px;
			left: 0;
		}
	}

	&__options {
		width: 100%;
	}

	&__options-list {
		list-style: none;
		display: flex;
		justify-content: space-between;
	}

	&__options-link {
		text-decoration: none;
		color: white;
		opacity: .5;
		font-size: .7rem;
		position: relative;
		transition: all .4s ease;
		&:hover {
			opacity: 1;
		}
		&::after {
			content: "";
			width: 100%;
			position: absolute;
			border: .5px solid white;
			left: 0;
			bottom: -3px;
		}
	}

	&__form-field {
		width: 100%;
		margin-bottom: 15px;
		border: 1px solid white;
		opacity: .5;
		color: white;
		font-family: $main-font;
		line-height: 2;
		letter-spacing: 2px;
		background-color: rgba(255, 255, 255, 0);
		&:focus {
			opacity: 1;
		}
	}

	&__form-button {
		width: 100%;
		background-color: $tiffany;
		border: none;
		padding: 10px;
		color: white;
		text-transform: capitalize;
		font-family: $main-font;
		font-weight: 700;
		font-size: 1.5rem;
	}

	&__form-caption {
		display: inline-block;
		text-transform: capitalize;
		font-weight: 700;
		font-size: .9rem;
		letter-spacing: 2px;
		margin-bottom: 9px;
	}

	&__form-minicap {
		display: inline-block;
		margin-bottom: 25px;
		font-weight: 700;
		font-size: .8rem;
		&::before {
			content: "";
			display: inline-block;
			width: 11px;
			height: 11px;
			border: 1px solid white;
			margin-right: 5px;
		}
	}

	&__form-checkbox {
		position: absolute;
		left: -9999px;
		visibility: hidden;
		&:checked + .signin__form-minicap::before {
			content: "";
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 5px;
			border: none;
			background-color: $tiffany;
			background-image: url(../img/tick.png);
		}
	}
}

.link-inactive {
	opacity: .7;
}