<section class="first-screen">
	<header class="header">
		<div class="row header__row">
			<!-- <div class="col-1"></div> -->
			<div class="col-6 header__wrapper">
				<object type="image/svg+xml" data="./img/logo.svg" class="logo"></object>
				<h1 class="header__title">Кулінарні поєдинки Соми</h1>
				<p class="header__subtitle">розповідають історію хлопчика на ім'я Сома Юкіхіра, чия мрія полягає в тому, щоб стати шеф-кухарем у сімейному ресторанчику і перевершити кулінарні навички свого батька. Закінчивши середню школу, Сома встає перед фактом, що його батько, Джоічіро Юкіхіра, повідомляє йому, що влаштувався на нову роботу, вимагає його подорожувати по світу і тому закриває на час ресторанчик. Батько кинув виклик Сомі, якщо той хоче перевершити його в готуванні, то повинен закінчити елітну Кулінарную Академію Тоцукі, де випускається лише 10% студентів. Там він зустрічає багато дивовижних учнів і переживає багато нових цікавих подій, завдяки чому він росте і стає ближче до своєї мети стати кращим.</p>
				<a href="#" class="header__link">10 серія: Небесний рецепт</a>
			</div>
		</div>
	</header>
</section>