* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: sans-serif;
}

nav {
	text-align: center;
	padding-top: .5rem;
}

ul {
	display: inline-block;
}

li {
	display: inline-block;
}

a {
	display: inline-block;
	width: 100%;
	max-width: 250px;
	min-width: 250px;
	text-align: center;
	border: 2px solid yellow;
	border-radius: 5px;
	background-color: yellow;
	padding: 25px;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
	color: #000;
	box-shadow: 2px 2px 17px 0px black;
	transition: all .5s ease;
}

a:hover {
	background-color: orange;
	color: red;
	border-color: currentColor;
}