.cart-list {
	padding: 0;

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid black;
		padding: 10px 20px 10px 10px;

		& > *:not(:last-child) {
			margin-right: .5rem;
		}
	}

	&__item-title {
		font-size: 1.2rem;
		line-height: 1;
	}

	&__item-quantity {
		max-width: 50px;
		text-align: center;
	}

	&__item-remove {
		background: none;
		line-height: 0;
		color: red;
		border: 1px solid currentColor;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		font-weight: bold;
		@include square(20px);
	}

	&__img-wrapper {
		$size: 50px;
		min-width: $size;
		@include padding-hack($size);
	}

	&.empty-list {

		& ~ .submit-btn,
		& ~ .clear-btn {
			display: none;
		}

		& ~ .cart__empty {
			display: block;
			text-align: center;
			font-weight: bold;
			margin-bottom: 0;
		}

		& ~ .cart__total {
			display: none;
		}
	}
}

.cart__empty {
	display: none;
}

.cart__total {
	text-align: right;
	font-weight: bold;
}