.loader {
  [role="progressbar"] {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 5px #1a6aaf;
    background-color: #fff;
  }
  [role="progressbar"]::before {
    z-index: -1;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -2.5px;
    width: 70px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    content: "";
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: propellor ease-in-out 2s infinite;
    animation: propellor ease-in-out 2s infinite;
  }
  @-webkit-keyframes propellor {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    16% {
      -webkit-transform: rotate(-8deg);
      transform: rotate(-8deg);
    }
    32% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    48% {
      -webkit-transform: rotate(390deg);
      transform: rotate(390deg);
    }
    64% {
      -webkit-transform: rotate(340deg);
      transform: rotate(340deg);
    }
    80% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    84% {
      -webkit-transform: rotate(363deg);
      transform: rotate(363deg);
    }
    94%,
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes propellor {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    16% {
      -webkit-transform: rotate(-8deg);
      transform: rotate(-8deg);
    }
    32% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    48% {
      -webkit-transform: rotate(390deg);
      transform: rotate(390deg);
    }
    64% {
      -webkit-transform: rotate(340deg);
      transform: rotate(340deg);
    }
    80% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    84% {
      -webkit-transform: rotate(363deg);
      transform: rotate(363deg);
    }
    94%,
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  html,
  body {
    height: 100%;
  }
  body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #1a6aaf;
  }
  [role="progressbar"] {
    margin: 0 auto;
  }

}