.shop {
	background-color: $gray-bg;
	padding: px_to_rem(20px) 0 px_to_rem(15px);
	border-bottom: 1px solid $gray-text;
	@include md-screen {
		padding: px_to_rem(140px) 0 px_to_rem(100px);
	}

	&__header {
		display: flex;
		flex-direction: column;
	}

	&__title {
		text-transform: capitalize;
		font-weight: 700;
		font-size: px_to_rem(24px);
		margin: 0 auto;
		@include xs-screen {
			text-align: center;
		}
		@include md-screen {
			font-size: px_to_rem(40px);
		}
	}

	&__subtitle {
		color: $gray-text;
		font-weight: 400;
		font-size: px_to_rem(14px);
		margin: 0 auto;
		padding: px_to_rem(15px) 0;
		@include xs-screen {
			text-align: center;
		}
		@include md-screen {
			padding: px_to_rem(15px) 0 px_to_rem(90px);
			font-size: px_to_rem(18px);
		}
	}
}