.slider {
	background-color: $white;
	padding: px_to_rem(15px) 0;
	@include md-screen {
		padding: px_to_rem(140px) 0;
	}

	&__title {
		color: $black;
		font-weight: 700;
		font-size: px_to_rem(24px);
		margin: 0 auto;
		@include xs-screen {
			text-align: center;
		}
		@include md-screen {
			font-size: px_to_rem(40px);
		}
	}

	&__subtitle {
		color: $gray-text;
		font-weight: 400;
		font-size: px_to_rem(14px);
		margin: 0 auto;
		text-align: center;
		padding: px_to_rem(15px);
		@include md-screen {
			font-size: px_to_rem(18px);
			padding: px_to_rem(15px) 0 px_to_rem(90px);
		}
	}

	&__wrapper {
		@include square(300px);
		@include padding-hack(300px);
	}
}