//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$main-font: 'Montserrat', sans-serif;
$base-size: 16px;

//colors
$white: white;
$black: black;
$gray-text: #6e6e6e;
$gray-bg: #1c1c1c;

$transition: all .3s ease;