<header class="top-header">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-5">
				<a class="top-header__logo" href="/">
					<img src="https://via.placeholder.com/400x100/?text=LOGO" alt="logo">
				</a>
			</div>
			<div class="col-3 d-flex align-items-end">
				<ul class="contacts-nav">
					<li class="contacts-nav__item"><a href="#" class="contacts-nav__link"><i class="fas fa-phone-alt"></i></a></li>
					<li class="contacts-nav__item"><a href="#" class="contacts-nav__link"><i class="fas fa-map-marker-alt"></i></a></li>
					<li class="contacts-nav__item"><a href="#" class="contacts-nav__link"><i class="far fa-envelope"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</header>