<nav class="top-nav">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<button type="button" class="btn btn-outline-secondary nav-link">blog</button>
					</li>
					<li class="nav-item">
						<button type="button" class="btn btn-outline-secondary nav-link">jobs</button>
					</li>
					<li class="nav-item">
						<button type="button" class="btn btn-outline-secondary nav-link">support</button>
					</li>
					<li class="nav-item">
						<button type="button" class="btn btn-outline-secondary nav-link">arabic</button>
					</li>
				</ul>
			</div>
			<div class="col-6">
				<ul class="social-nav">
					<li class="social-nav__item">
						<a href="#" class="social-nav__link" target="_bla
						nk"><i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li class="social-nav__item">
						<a href="#" class="social-nav__link" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="social-nav__item">
						<a href="#" class="social-nav__link" target="_blank"><i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="social-nav__item">
						<a href="#" class="social-nav__link" target="_blank"><i class="fab fa-google-plus-g"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>