<% layout('./view/layout/page') -%>
<% block('title', 'Page title'); -%>

<%-partial('./view/partials/sections/top-nav') %>
<%-partial('./view/partials/sections/top-header') %>

<h1><%= blocks.title %></h1>
<p>Welcome to <%= blocks.title %></p>
