* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #d3f5f4;
	font-size: 2.5rem;
	font-family: "Roboto Condensed";
}

header {
	width: 100%;
	min-width: 320px;
	background-color: #057a77;
	padding: 33px;
	text-align: center;
}

h3 {
	display: inline-block;
	background-color: #03ada9;
	color: white;
	padding: 15px;
	border: 2px solid white;
	border-radius: 15px;
}

.header_pic img {
	border: 3px solid white;
	border-radius: 11%;
	float:left;
	width: 15rem;
	height: 15rem;
	margin: 20px;
}

.header_lang img {
	float: right;
}

.header_inactive img {
	float: right;
	filter: grayscale(100%);
}

.information {
	display: inline-block;
	padding: 33px;
}

.info_main {
	max-width: 44%;
}

.info_skills {
	max-width: 44%;
}

h4 {
	color: #002026;
}

p {
	font-size: 1.2rem;
}

.links {
	padding: 22px;
	float: right;
}
