* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
	color: $gray;
	font-size: 100%;
	background-color: $white;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}