//colors
$white: #ffffff;
$orange: #ffcc00;
$gray: #666666;

//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900&display=swap" rel="stylesheet');

$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;