* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	background-color: #464f54;
}

.editor {
	margin: 0 auto;
	padding-top: 99px;

	&__sheet {
		max-width: 1060px;
		max-height: 750px;
		background-color: white;
		margin: 0 auto;
		padding: 200px 125px 33px;
		position: relative;
	}

	&__sheet:before {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background-color: #e8eced;
		position: absolute;
		top: 0;
		left: 70px;
	}

	&__sheet-author {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		color: #8f8f8f;
		letter-spacing: .2rem;
		margin-bottom: 11px;
	}

	&__sheet-title {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 800;
		font-size: 66px;
		text-transform: uppercase;
		line-height: 1;
		color: #2a2a2a;
		margin-bottom: 11px;
	}

	&__sheet-subtitle {
		font-family: 'Neuton', serif;
		font-style: italic;
		font-size: 22px;
		color: #8f8f8f;
		line-height: 1;
		margin-bottom: 22px;
	}

	&__sheet-article {
		font-family: 'Neuton', serif;
		font-size: 22px;
		color: #2a2a2a;
		line-height: 1;
	}

	&__sheet-article:not(:last-child) {
		margin-bottom: 22px;
	}

	&__title {
		display: flex;
		flex-direction: column;
		background-color: black;
		color: white;
		width: 875px;
		height: 190px;
		position: absolute;
		top: 50px;
		right: 0;
		padding: 50px 444px 50px 65px;
		z-index: 2;
	}

	&__title-description {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		color: #8f8f8f;
		letter-spacing: .2rem;
		margin-bottom: 11px;
		position: relative;
	}

	&__title-name {
		display: inline-block;
		font-family: 'Playfair Display', serif;
		text-transform: capitalize;
		font-size: 34px;
		overflow: hidden;
		border-right: .15em solid white;
		white-space: nowrap;
		letter-spacing: .15em;
		animation: 
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
	}

	&__title-description:after {
	display: block;
	content: "";
	border: 1px solid #303030;
	width: 100%;
	position: absolute;
	top: 85px;
	}

	&__buttons {
		display: flex;
		background-color: #fac02d;
		width: 810px;
		position: absolute;
		top: 235px;
		right: 0;
		padding: 25px 200px 25px 45px;
		z-index: 1;
	}

	&__buttons-list {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		list-style: none;
	}

	&__buttons-button{
		display: block;
		opacity: .5;
	}

	&__buttons-button:hover {
		opacity: 1;
		transition: all .7s ease;
	}
}

.italic {
	font-style: italic;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white; }
}