// colors
$white: #fff;
$black: #000;
$dark-text: #3c3c3c;

//fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

$main-font: 'Lato', sans-serif;

$base-size: 16px;

$transition: all .3s ease;