<header class="header" id="header">
	<div class="container">
		<div class="header__nav">
			<div class="row">
				<div class="col-3">
					<object data="./img/logo.svg" type="image/svg+xml"></object>
				</div>
				<div class="col-6">
					<ul class="header__nav-list">
						<li class="header__nav-item" id=item1><a href="#" class="header__nav-link">about us</a></li>
						<li class="header__nav-item" id=item2><a href="#" class="header__nav-link">projects</a></li>
						<li class="header__nav-item" id=item3><a href="#" class="header__nav-link">news</a></li>
						<li class="header__nav-item" id=item4><a href="#" class="header__nav-link">contact</a></li>
					</ul>
				</div>
				<div class="col-3">
					<ul class="header__nav-social">
						<li><a href="#" target="_blank" class="header__nav-social_link"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank" class="header__nav-social_link"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank" class="header__nav-social_link"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>