* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	font-size: 100%;
	background-color: $white;
}

.des-section {
	padding: 50px 0;

	&:nth-child(odd) {
		color:$white;
	}

	&:nth-child(even) {
		color:$dark-text;
	}

	@include sm-screen {
		padding: 100px 0;
	}

	&__border {
		text-align: center;
		border: 1px solid currentcolor;
		border-top: none;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			height: 1px;
			width: 20%;
			background-color: currentColor;
			left: 0;
			top: 0;

			@include sm-screen {
				width: 25%;
			}
		}

		&::after {
			content: "";
			position: absolute;
			height: 1px;
			width: 20%;
			background-color: currentColor;
			right: 0;
			top: 0;

			@include sm-screen {
				width: 25%;
			}
		}
	}
}

.container {
	width: 100%;
	max-width: 930px;
	padding: 0 15px;
	margin: auto;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

ul {
	list-style: none;
	li {
		a {
			display: flex;
		}
	}
}

.des-title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: px_to_em(18px);
	letter-spacing: 2px;
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);

	@include sm-screen {
		top: -20px;
		font-size: px_to_em(34px);
		letter-spacing: 5px;
	}
}

.des-info {
	font-weight: 300;
	font-size: px_to_em(16px);
	width: 100%;
	max-width: 550px;
	margin: 0 auto;
	padding: 30px 15px;

	@include sm-screen {
		padding: 30px 0;
	}

	&__text:not(:last-child) {
		margin-bottom: 30px;
	}
}