* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	font-size: 100%;
	background-color: $white;
}

.des-section {
	padding: 100px 0;

	&:nth-child(odd) {
		color:$white;
	}

	&:nth-child(even) {
		color:$dark-text;
	}

	&__border {
		text-align: center;
		border-bottom: 1px solid currentcolor;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			height: calc(100% - 11px);
			width: 1px;
			background-color: currentColor;
			left: 0;
			bottom: 0;

			@include sm-screen {
				height: calc(100% - 21px);
			}
		}

		&::after {
			content: "";
			position: absolute;
			height: calc(100% - 11px);
			width: 1px;
			background-color: currentColor;
			right: 0;
			bottom: 0;

			@include sm-screen {
				height: calc(100% - 21px);
			}
		}
	}
}

.container {
	width: 100%;
	max-width: 930px;
	padding: 0 15px;
	margin: auto;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

ul {
	list-style: none;
	li {
		a {
			display: flex;
		}
	}
}

.des-title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: px_to_em(18px);
	letter-spacing: 5px;
	margin-bottom: 65px;
	position: relative;

	@include sm-screen {
		font-size: px_to_em(34px);
	}

	&::before {
		content: "";
		position: absolute;
		width: 20%;
		height: 1px;
		background-color: currentColor;
		left: 0;
		top: 50%;

		@include sm-screen {
			width: 25%;
		}
	}

	&::after {
		content: "";
		position: absolute;
		width: 20%;
		height: 1px;
		background-color: currentColor;
		right: 0;
		top: 50%;

		@include sm-screen {
			width: 25%;
		}
	}
}

.des-info {
	font-weight: 300;
	font-size: px_to_em(16px);
	width: 100%;
	max-width: 550px;
	margin: 0 auto;
	padding: 0 15px 30px;

	@include sm-screen {
		padding: 0 0 30px;
	}

	&__text:not(:last-child) {
		margin-bottom: 30px;
	}
}