.des-whatwedo {

	&__pic {
		margin-bottom: 35px;
	}

	&__subtitle {
		font-weight: 700;
		letter-spacing: 5px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	&__text {
		font-size: px_to_em(14px);
		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}
}